.loading-container {
  background-color: #2a296b; /* Deep navy blue */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Steering wheel icon */
.loading-icon .wheel {
  font-size: 80px;
  color: #ffffff;
  -webkit-animation: spin 1.8s linear infinite;
  -moz-animation: spin 1.8s linear infinite;
  animation: spin 1.8s linear infinite;
}

/* Rotation animation */
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}