*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 30%;
    border: 3px solid #ccc;
    border-radius: 2%;
    background-color: rgb(28, 182, 243);
    gap: 40px;
    box-shadow: 9px 10px 10px rgb(28, 182, 243);
    color: white;
    text-shadow: 1px 1px 6px white, 0 0 25px rgb(61, 61, 76), 0 0 5px darkblue;
}

.login h2 {
    margin-top: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login form input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login form button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #1f79ef;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login form button:hover {
    background-color: #155ab6;

}

.login label {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-self: left;
}

.login input {
    font-size: 16px;
}