/* Background */
.signup-page {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1511919884226-fd3cad34687c") no-repeat center center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

/* Card */
.signup-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 35px;
  width: 360px;
  border-radius: 15px;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.signup-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 25px;
}

/* Inputs */
.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Password eye */
.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

/* Button */
.signup-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ffb703;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #ffd166;
}

/* Error */
.error-msg {
  margin-top: 10px;
  color: #ffcccc;
  font-size: 14px;
}

/* Login link */
.login-link {
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #ffb703;
  text-decoration: none;
  font-weight: bold;
}
